table#resultsList
    {
      border-collapse: collapse; 
/*      border-top: 0px hidden;
      border-bottom: 0px hidden;*/
    }

    table#resultsList tr
    {
      border-left: 0px hidden;
      border-right: 0px hidden;
    }

    table#resultsList th
    {
        padding-left: 4px;
    }
    table#resultsList tbody tr:hover {    
        background-color: #e1eafe;
    }
    table#resultsList td
    {
      border: 1px solid #e6e8dd;
      padding-left: 4px;
    }