    table#bilability
    {
      border-collapse: collapse; 
/*      border-top: 0px hidden;
      border-bottom: 0px hidden;*/
        border: 1px solid #e5e5e5;
    }

    table#bilability tr
    {
/*      border-left: 0px hidden;
      border-right: 0px hidden;*/
    }

    table#bilability th
    {
        padding: 7px;
        border: 1px solid #e5e5e5;
        background-color: #4387fd;
        color: #FFF;
    }
    table#bilability tbody tr:hover {    
        background-color: #e1eafe;
    }
    table#bilability td
    {
      border: 1px solid #e6e8dd;
      padding: 7px;
    }